header h1 {
  font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
}

header h1 span {
  font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
  font-weight: Regular;
  font-style: italic; 
}

main h4 {
  font-family: 'Permanent Marker', Helvetica, sans-serif;
}

ul.list-group {
  min-height: 130px;
}